body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Courier New";
  background: linear-gradient(
    100deg,
    rgb(30, 92, 180) 65%,
    rgb(240, 188, 94) 100%
  );
  text-align: center;
}

button {
  cursor: pointer;
}
